.wrapper {
  box-sizing: border-box;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.5s ease;
}

input[type=checkbox]:checked+label+.accordion-content {
  opacity: 1;
  max-height: 1000px;
  transition: opacity 0.3s ease, max-height 0.5s ease;
}

label {
  display: block;
  cursor: pointer;
}

.accordion {
  margin-bottom: 10px;
}

#accordion-1,
#accordion-2,
#accordion-3,
#accordion-4,
#accordion-5,
#accordion-6 {
  display: none;
}

.img_mem{
  max-width: 100%;
}